@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


.greetingsPage{
    margin: 0px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    
    &__inside{
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        //эта шняжка для выравнивания текста по экрану 
        position: absolute;
        top: 45%;
        width: 100%;
        animation: opacity 2s normal forwards ease-in-out;
        
    }

    @keyframes opacity {
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    &__label{
        z-index: 123;
     
 
    }


    &__name{
        color: rgb(238, 34, 129);
        cursor: pointer;

    }

    &__position{
        z-index: 123;
        margin: -5px 0px 0px 0px;
      
    }
}